<!DOCTYPE html>
<html>
<head>
  <title>FavouriteMovies</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_pack_tag 'stylesheets', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'search' %>
</head>

<body>
<nav>
  <%= link_to 'Favourite movies', favorite_movies_path %>
</nav>
<content>
  <%= yield %>
</content>
</body>
</html>
